h1{
    color:blueviolet;
    background-color: rgb(50, 184, 205);
    font-size: 20px;
    text-decoration: none;
    text-align:center;
}
p{
    color:rgb(12, 6, 60);
    text-align: right;
    line-height: 30px;
    column-count: 3;
}
li{
    list-style-type: square;
}